
<input type="text" class="movie-search-query" placeholder="Search for your favourite movie...">

<ul class="movie-outer-container">
    <% movies.each do |movie| %>
        <li class="movie-inner-container">
            <div class="movie-poster-container">
                <img class="movie-poster" src="<%= movie["Poster"] %>" alt="">
            </div>
            <div class="movie-details-container">
                <div class="movie-title-container">
                    <h3><%= movie["Title"] %></h3>
                </div>
                <div class="movie-detailedinfo-container">
                    <% movie = JSON.parse(fetch_movie_details(movie["ID"]).to_s.force_encoding('UTF-8')) %>    
                    <h5>Director: <%= movie["Director"] %></h5>
                    <h5>Year: <%= movie["Year"] %></h5>
                    <h5>Rated: <%= movie["Rated"] %></h5>
                    <h5>Released: <%= movie["Released"] %></h5>
                    <h5 class="movie-runtime">Runtime: <%= movie["Runtime"] %></h5>
                    <h5 class="movie-genre">Genre: <%= movie["Genre"] %></h5>
                    <h5 class="movie-actors">Actors: <%= movie["Actors"] %></h5>
                    <h5 class="movie-plot">Plot: <%= movie["Plot"] %></h5>
                    <h5>Language: <%= movie["Language"] %></h5>
                </div>                
                <div class="movie-price-container">
                    <h4>FilmWorld: $ <%= fetch_price("filmworld", movie["ID"]) %></h4> 
                    <h4>CinemaWorld: $ <%= fetch_price("cinemaworld", movie["ID"]) %></h4>
                </div>
            </div>
        </li>
    <% end %>
</ul>

